#reg_title {
  font-family: "Hind", sans-serif;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7%;
}

#main_box {
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
}