.hero-image {
  padding: 70px;
  height: 100vh;
  background-image: url("images/4.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  .title {
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 64px;
    padding-left: 5px;
    margin-top: 165px;
    max-width: 35vw;
    text-shadow: 2px 3px 6px black;
  }

  .description {
    width:100%;
    text-align:center;

    #how_it_works {
      color: rgb(0, 0, 0);
      margin-top: 350px;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 30px;
    }

    #img1 {
      float:left;
      width:200px;
    }

    #img2 {
      display: inline-block;
      margin:0 auto;
      width:200px;
    }

    #img3 {
      float:right;
      width:200px;
    }
  }

  form {
    button {
      font-size: 14px;
      border: 1px solid #dcdcdc;
      padding: 8px 30px;
      cursor: pointer;
      background: white;
      transition: 0.2s;
      border-radius: 25px;
      margin-top: 35px;

      &:hover {
        background: #dcdcdc;
      }

    }
  }
}

.icon {
  width: 100%;
  height: 150px;

  &#icon1 {
    background: url("images/icons/52782.png") no-repeat center;
    background-size: contain;
  }
}

