

.jobs-list {
  padding: 10px;
}

.jobs-entry {
  background: #f5f5f5;
  padding: 10px;
  margin: 10px;
}

.search-fields {
  width: 400px;
  margin-right: 15px;

}

.search-page {
  width: auto;
  overflow-x: hidden;

}

#search {
  margin-top: 20px;
  margin-left: 30px;
  height: 50px;

}

#name-input {

}