#log_title {
  font-family: "Hind", sans-serif;
  width: auto;
  text-align: center;
  margin-top: 15%;
  text-transform: uppercase;
}

#main_box_login {
  margin-top: -40%;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  margin-top: -35%;
  margin-bottom: auto;
}